@import '~antd/dist/antd.less';
.layout {
  height: 100vh;
}

.menu-wrap {
  background: #fff;
  height: 100%;
  box-shadow: 5px 0 5px -5px #ddd;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  padding-bottom: 40px;
  scrollbar-width: none; /* firefox */
  -ms-overflow-style: none; /* IE 10+ */
  &-bottom {
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid #eee;
  }
}

.menu-wrap::-webkit-scrollbar {
  display: none; /* Chrome Safari */
}

.content {
  overflow: hidden;
  &-wrap {
    background-color: #fff;
  }
}
