.header {
  padding: 0;
  background-color: rgb(39, 34, 102);
}

// logo样式
.logo-wrap {
  float: left;
  width: 200px;
  height: 63px;
  .logo {
    width: 120px;
    height: 31px;
    margin: 16px auto;
    line-height: 31px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    background: rgba(255, 255, 255, 0.3);
  }
}

// 用户菜单样式
.userMenu {
  float: right;
  margin-top: 14px;
  .wrapper {
    display: flex;
    align-items: center;
    padding: 0 10px;
    color: #fff;
    span {
      margin-left: 10px;
      height: 20px;
      line-height: 20px;
    }
  }
}
